[Unit]
Description=BeerWare GUI
After=default.target

[Service]
Environment=QT_QPA_PLATFORM=wayland
ExecStart=$HOME/beerware/startup/start_beerware.sh
WorkingDirectory=$HOME/beerware
Restart=on-failure

[Install]
WantedBy=default.target

