[Unit]
Description=BeerWare GUI
After=default.target

[Service]
Environment=QT_QPA_PLATFORM=wayland
ExecStart=/home/admin/beerware/startup/start_beerware.sh
WorkingDirectory=/home/admin/beerware
Restart=on-failure

[Install]
WantedBy=default.target

